In [1]:
import pandas

In [6]:
pandas.read_csv("pokemon.csv")
pokemon.head()

NameError: name 'pokemon' is not defined

In [7]:
mybool=[True, False, 1, 0]

In [8]:
pandas.Series(mybool)

0     True
1    False
2        1
3        0
dtype: object

In [9]:
type(mybool)

list

In [10]:
#Convert Dict to series
newdict={"VMBH":"Tumkur","RUBN":"Bengaluru"}

In [11]:
newdict

{'VMBH': 'Tumkur', 'RUBN': 'Bengaluru'}

In [13]:
dict=pandas.Series(newdict)

In [14]:
dict

VMBH       Tumkur
RUBN    Bengaluru
dtype: object

In [15]:
type(dict)

pandas.core.series.Series

In [ ]:
#Inbulit attributes in Series

In [17]:
NewSeries=["cat","dog"]

In [18]:
testnum=[1,2,3,4,5,6,7,8,9,10]

In [19]:
t=pandas.Series(testnum)

In [20]:
t.index

RangeIndex(start=0, stop=10, step=1)

In [21]:
t.dtype

dtype('int64')

In [22]:
t.mean()

5.5

In [23]:
t.median()

5.5

In [24]:
t.mode()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [26]:
t.std()

3.0276503540974917

In [27]:
#Creating a own index
pincode=[57106,560062]
city=["Tumkur","Bengaluru"]

In [31]:
Address=pandas.Series(city,pincode)

In [32]:
Address

57106        Tumkur
560062    Bengaluru
dtype: object

In [35]:
Address.to_csv("Address.csv")